{% extends "core-template.html" %}

{% block title %}
    <title>快速开始</title>
{% endblock %}


{% block body %}
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口
                    </div>
                    <div class="layui-card-body layui-col-space10" style="position: relative;overflow: auto; ">


                        {% for key in shortcut_icon.keys() %}
                        <div class="layui-col-xs1 layuimini-qiuck-module">
                            {% if shortcut_icon[key]['mode'] == 0 %}
                                <a {% if shortcut_icon[key]['href'] == "" %} {% else %} href="javascript:;"
                                                                                          layuimini-content-href="{{ shortcut_icon[key]['href'] }}" {% endif %}
                                                                                          data-title="{{ shortcut_icon[key]['title'] }}"
                                                                                          data-icon="">
                            {% else %}
                                <a {% if shortcut_icon[key]['href'] == "" %} {% else %}
                                    href="{{ shortcut_icon[key]['href'] }}"
                                    data-title="{{ shortcut_icon[key]['title'] }}"  {% endif %}
                                    data-icon="">
                            {% endif %}
                            {% autoescape false %}
                            {{ shortcut_icon[key]['icon'] }}
                            {% endautoescape %}
                            <cite>{{ shortcut_icon[key]['title'] }}</cite>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['miniTab'], function () {
        let miniTab = layui.miniTab
        miniTab.listen();
    });
</script>
{% endblock %}