{% extends "core-template.html" %}

{% block title %}
    <title>关于 Tab Toolbox for Website</title>
{% endblock %}

{% block body %}
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa-solid fa-camera"></i> 关于开发</div>
                        <div class="layui-card-body">
                            <p style="text-align: center">
                                <img src="/static/images/about_pikachu.jpg" width="600" alt=""
                                     style="border-radius:10px;max-width:100%;"/>
                            </p>
                            <br>
                            <p style="text-align: center">
                                <a style="color: #ff2f00;" href="https://twitter.com/mafumuffin/status/1503355265155940353" target="_blank">
                                    >>> 皮卡丘&伊布的图片由 マフィン @mafumuffin 创作 <<<</a>
                            </p>
                            <br>
                            <p style="text-align: center">
                                Tab Toolbox for Website 原是 Windows 操作系统上的一个实用小工具——“Tab 工具箱” ，<br>
                                由鑫凯提出并创立制作，后来由以赏加入制作。Tab 工具箱宗旨是为用户使用电脑时解决不便，<br>
                                Tab Toolbox for Website 则是以赏在此宗旨上用 Python 重建。采用 B/S 架构，支持一台设备安装多台设备使用。<br>
                                Tab Toolbox for Website 拥有灵活的插件功能，高自由度的插件自定义功能，与高中信息技术接轨，<br>
                                任何人员均可以使用 Python 自由的添加功能。大部分自带的插件均为 以赏 和 鑫凯 提供，<br>
                                后续 Tab Toolbox for Website 将会散发出更多的活力！<br>
                            </p>
                            <br>
                            <p style="text-align: center">项目开发文档</p>
                            <p style="text-align: center">
                                <a style="color: #00adff;" href="javascript:window.open('http://wojiaoyishang.gitee.io/tab-toolbox-for-website-document')">工具箱开发文档</a> |
                                <a style="color: #00adff;" href="javascript:window.open('https://layui.github.io/')">layui官方文档</a> |
                                <a style="color: #00adff;" href="javascript:window.open('http://layuimini.99php.cn/docs/index.html')">layuimini官方文档</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa-solid fa-link"></i> 友情链接</div>
                        <div class="layui-card-body">
                            <p style="text-align: center">
                                <a href="https://lovepikachu.top" target="_blank"><img
                                        src="/static/images/about_lovepikachu.png"
                                        style="max-width:40%;"></a>
                                <a href="https://code-note.top" target="_blank"><img
                                        src="/static/images/about_code-note.png"
                                        style="max-width:40%;"></a>
                            </p>

                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa-solid fa-id-card"></i> layuimini 开源许可</div>
                        <div class="layui-card-body">
                            <p style="text-align: center">
                                <a href="https://github.com/zhongshaofa/layuimini" target="_blank">非常感谢 layuimini
                                    优秀的开源后台框架。<br>
                                    若没有 layuimini ，Tab Toolbox for Website 不可能获得开发。点击加入开源地址。<br>
                                    layuimini 框架经过以赏修改，并二次开发。
                                </a>
                            </p>
                            <br>
                            <p>
                                MIT License<br>
                                <br>
                                Copyright (c) 2019 layuimini<br>
                                <br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy<br>
                                of this software and associated documentation files (the "Software"), to deal<br>
                                in the Software without restriction, including without limitation the rights<br>
                                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
                                copies of the Software, and to permit persons to whom the Software is<br>
                                furnished to do so, subject to the following conditions:<br>
                                <br>
                                The above copyright notice and this permission notice shall be included in all<br>
                                copies or substantial portions of the Software.<br>
                                <br>
                                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
                                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
                                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
                                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
                                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
                                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br>
                                SOFTWARE.<br>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}